/* CSS Document */
a,.header h2, .form-control, .nav-tabs, .content-element h1{ border-bottom-color:#efef07}
a:hover,a:focus {border-color:#efef07}
.progress .bar span, .portfolio .more, .portfolio .item-content .img .img-hover a, .flex-direction-nav a:before{ color:#efef07 }
.social li a:hover, .progress .bar span, .nav-testimonials li.active a, .contact, .download-resume, .container-portfolio .element .text{ background-color:#efef07 }
.header-about{ border-left-color:#efef07}
.list li:before, .testimonial-name:before,h2:before, h2:before, h3:before, .navbar-default .navbar-nav>.active>a:before, .portfolio .subnavigation li.active a:before, .arrow-down a:before{ border-color:#efef07; color:#efef07 }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover{ border-top-color: #efef07; border-left-color: #efef07; border-right-color: #efef07; }


